// color
// $primary: #1469ff;
// $secondary: #0027c8;
// $notable: #ff3c82;
// $white: #fff;
// $black: #000;

.primary {
  color: $primary;
}
.secondary {
  color: $secondary;
}
.notable {
  color: $notable;
}
.white {
  color: $white;
}
.black {
  color: $black;
}

.bg-primary {
  background-color: $primary;
}
.bg-secondary {
  background-color: $secondary;
}
.bg-notable {
  background-color: $notable;
}
.bg-white {
  background-color: $white;
}
.bg-black {
  background-color: $black;
}

// utilities
.upper-case {
  text-transform: uppercase;
}
.mb-5 {
  margin-bottom: 2.5rem;
}
.mb-4 {
  margin-bottom: 2rem;
}
.mb-3 {
  margin-bottom: 1.5rem;
}
.mb-2 {
  margin-bottom: 1rem;
}
