@mixin triangle {
  width: auto;
  height: 50%;
  aspect-ratio: 365/313;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

@mixin circle {
  width: auto;
  height: 50%;
  aspect-ratio: 1;
  border-radius: 50%;
}

@mixin rectangle {
  width: auto;
  height: 50%;
  aspect-ratio: 1;
}

@mixin star {
  width: auto;
  height: 50%;
  aspect-ratio: 1;
  clip-path: polygon(
    50% 0%,
    65% 24%,
    94% 24%,
    80% 50%,
    94% 76%,
    65% 76%,
    50% 100%,
    35% 76%,
    6% 76%,
    20% 50%,
    6% 24%,
    35% 24%
  );
}

@mixin button {
  width: 100%;
  background-color: transparent;
  border-radius: 99999px;
  border: 2px solid $white;
  cursor: pointer;
  padding: 0.675rem 2rem;
  display: block;
}

@mixin scrollbar(
  $size: 0.5rem,
  $foreground-color: $white,
  $background-color: $secondary
) {
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }
  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
    border-radius: 99999px;
  }
  &::-webkit-scrollbar-track {
    background: $background-color;
  }
}
