// colors
$primary: #1469FF;
$secondary: #0027C8;
$notable: #FF3C82;
$white: #fff;
$black: #000;

// fonts & text style

$fs-title: 64px;
$fs-subtitle: 36px;
$fs-subtitle2: 24px;
$fs-paragraph: 20px;

$fw-bold: 700;
$fw-regular: 400;

body{
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: $fs-title;
    font-weight: $fw-bold;
}
h2{
    font-size: $fs-subtitle;
    font-weight: $fw-bold;
}
h3{
    font-size: $fs-subtitle2;
    font-weight: $fw-regular;
}
p, a{
    font-size: $fs-paragraph;
    font-weight: $fw-regular;
}
