@import "./reset";
@import "./variables";

@import "./mixin";
@import "./component";

@supports (height: 100dvh) {
  :root {
    --viewport-height: 100dvh;
  }
}
@supports not (height: 100dvh) {
  :root {
    --viewport-height: 100vh;
  }
}
body {
  @include scrollbar;
  overflow: hidden;
}
section {
  height: var(--viewport-height);
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
ul,
li {
  width: 100%;
  height: auto;
}

.circle {
  @include circle;
}

.rectangle {
  @include rectangle;
}

.triangle {
  @include triangle;
}

button {
  @include button;
  color: $white;
  transition: all ease-in 0.3s;
  &:hover {
    background-color: $white;
  }
}

.hidden {
  display: none;
}
// opening
#opening {
  position: relative;
  .title {
    position: absolute;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .rectangle {
    position: absolute;
    z-index: 1;
  }
  .circle {
    height: 60%;
    position: absolute;
    z-index: 2;
  }
  .triangle {
    height: 40%;
    position: absolute;
    z-index: 3;
    transform: translateY(-15%) rotate(0deg);
  }
  .flip {
    transform: translateY(15%) rotate(180deg);
  }
  .star {
    @include star;
    position: absolute;
    z-index: 3;
  }
}

#question-1 {
  flex-direction: row;
  justify-content: space-between;
  .content {
    width: 60%;
    height: 100%;
    padding: 0% 10%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
  }
  .animating-bg {
    position: relative;
    width: 40%;
    height: 100%;
  }
  & .option {
    &:hover {
      color: $primary;
    }
  }
  .rectangle,
  .circle,
  .triangle {
    position: absolute;
  }
  .rectangle {
    height: 20%;
    bottom: -100%;
    right: 55%;
  }
  .triangle {
    height: 15%;
    bottom: -100%;
    right: -5%;
  }
  .circle {
    bottom: -100%;
    right: -20%;
  }
}
#question-2 {
  flex-direction: row-reverse;
  justify-content: space-between;
  .content {
    width: 60%;
    height: 100%;
    padding: 0% 10%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
  }
  .animating-bg {
    position: relative;
    width: 40%;
    height: 100%;
  }
  & .option {
    &:hover {
      color: $secondary;
    }
  }
  .rectangle,
  .circle,
  .triangle {
    position: absolute;
  }
  .rectangle {
    height: 40%;
    top: 150%;
    left: -20%;
    transform: rotate(65deg);
  }
  .triangle {
    height: 30%;
    top: 100%;
    left: 30%;
    transform: rotate(25deg);
  }
  .circle {
    height: 20%;
    top: 100%;
    left: 35%;
  }
}
#question-3 {
  flex-direction: row;
  justify-content: space-between;
  .content {
    width: 60%;
    height: 100%;
    padding: 0% 10%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
  }
  .animating-bg {
    position: relative;
    width: 40%;
    height: 100%;
  }
  & .option {
    &:hover {
      color: $notable;
    }
  }
  .rectangle,
  .circle,
  .triangle {
    position: absolute;
  }
  .rectangle {
    height: 35%;
    top: 150%;
    right: 25%;
    transform: rotate(2deg);
  }
  .triangle {
    height: 25%;
    top: 100%;
    right: -10%;
    transform: rotate(-150deg);
  }
  .circle {
    height: 40%;
    top: 100%;
    right: -15%;
    z-index: 4;
  }
}
// calculating
#calculating {
  height: calc(var(--viewport-height) * 10);
  position: relative;
  .content {
    opacity: 0;
    position: fixed;
    z-index: 3;
    text-align: center;
    top: calc(var(--viewport-height) / 2);
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .circle,
    .rectangle,
    .triangle {
      position: absolute;
      left: -100%;
    }
  }
  .animation1 > .transition-bg {
    @include triangle;
    background: $secondary;
    height: 10%;
    position: absolute;
    top: 45%;
    left: -50%;
    transform: translate(-50%, -50%) rotate(50deg) scale(1);
  }
  .animation2 > .transition-bg {
    @include rectangle;
    background: $notable;
    height: 10%;
    position: absolute;
    top: 60%;
    left: -50%;
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
  }
}

// result
#result {
  & > div {
    opacity: 0;
    display: none;
    width: 100%;
    height: 100%;
  }
}
.traits {
  & > li {
    text-transform: uppercase;
    font-size: $fs-subtitle;
    font-weight: $fw-bold;
    padding-left: 5rem;
  }
}
.type-triangle {
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .blue-star {
    @include triangle;
    background: $secondary;
    position: absolute;
    height: 2.5rem;
    transform: rotate(180deg);
  }
  .black-star {
    @include triangle;
    background: $black;
    position: absolute;
    height: 2.5rem;
    transform: rotate(180deg);
  }
  .secondary-triangle {
    @include triangle;
    background: $secondary;
    position: absolute;
    height: 16.5rem;
    bottom: -50%;
    transform: translateX(-50%);
    left: 45%;
    z-index: 3;
  }
  .white-triangle {
    position: absolute;
    box-sizing: border-box;
    width: 21rem;
    height: 20rem;
    border-left: 0.25rem solid transparent;
    border-right: 0.25rem solid transparent;
    border-bottom: 0.25rem solid $white;
    bottom: -50%;
    transform: translateX(-50%);
    left: 50%;
    z-index: 2;
  }
  .white-triangle::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    width: 20rem;
    height: 20rem;
    border-left: 0.25rem solid $white;
    border-top: 0.25rem solid $white;
    border-bottom: 0.25rem solid transparent;
    transform: rotate(45deg) skew(15deg, 15deg);
    top: 9.875rem;
    left: 0.25rem;
  }
  .black-triangle {
    @include triangle;
    background: $black;
    position: absolute;
    height: 15rem;
    bottom: -50%;
    transform: translateX(-50%);
    left: 55%;
    z-index: 1;
  }
  .content {
    position: absolute;
    z-index: 10;
  }
  .details {
    opacity: 0;
    p {
      line-height: 1.5;
    }
  }
  .animating-bg {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .try-again {
    &:hover {
      color: $primary;
    }
  }
}
.type-circle {
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p.h3 {
    padding-left: 1.5rem;
  }
  .blue-circ {
    @include circle;
    background: $primary;
    position: absolute;
    height: 2.5rem;
  }
  .black-circ {
    @include circle;
    background: $black;
    position: absolute;
    height: 2.5rem;
  }
  .primary-circle {
    @include circle;
    background: $primary;
    position: absolute;
    height: 20rem;
    bottom: -100%;
    transform: translateX(-50%);
    left: 50%;
    z-index: 3;
  }
  .white-circle {
    @include circle;
    border: 0.25rem solid $white;
    position: absolute;
    height: 20rem;
    bottom: -100%;
    transform: translateX(-50%);
    left: 51%;
    z-index: 2;
  }

  .black-circle {
    @include circle;
    background: $black;
    position: absolute;
    height: 20rem;
    bottom: -100%;
    transform: translateX(-50%);
    left: 49%;
    z-index: 1;
  }
  .content {
    position: absolute;
    z-index: 10;
  }
  .details {
    opacity: 0;
    p {
      line-height: 1.5;
    }
  }
  .animating-bg {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .try-again {
    &:hover {
      color: $notable;
    }
  }
}
.type-rectangle {
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p.h3 {
    padding-left: 3rem;
  }
  .notable-rect {
    @include rectangle;
    background: $notable;
    position: absolute;
    height: 2rem;
    transform: rotate(45deg);
  }
  .black-rect {
    @include rectangle;
    background: $black;
    position: absolute;
    height: 2rem;
    transform: rotate(45deg);
  }
  .notable-rectangle {
    @include rectangle;
    background: $notable;
    position: absolute;
    height: 20rem;
    bottom: -100%;
    transform: translateX(-50%);
    left: 50%;
    z-index: 2;
  }
  .white-rectangle {
    @include rectangle;
    border: 0.25rem solid $white;
    position: absolute;
    height: 20rem;
    bottom: -100%;
    transform: translateX(-50%);
    left: 51%;
    z-index: 3;
  }

  .black-rectangle {
    @include rectangle;
    background: $black;
    position: absolute;
    height: 20rem;
    bottom: -100%;
    transform: translateX(-50%);
    left: 49%;
    z-index: 1;
  }
  .content {
    position: absolute;
    z-index: 10;
  }
  .details {
    opacity: 0;
    p {
      line-height: 1.5;
    }
  }
  .animating-bg {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .try-again {
    &:hover {
      color: $secondary;
    }
  }
}
