<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Geometry Person</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../scss/all.css">
    
</head>
<body>
    <h1>Q2</h1>
    <h2>Imagine you’re almost late, but totally lost at a forked road. Which way do you prefer to go?</h2>
    <h3>Choose the answer appeared in your mind instantly</h3>
    <ul>
        <li><a href="./question3.html">The left one</a></li>
        <li><a href="./question3.html">The right one</a></li>
        <li><a href="./question3.html">Open Google Map</a></li>
    </ul>
</body>
</html>