<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Geometry Person</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../scss/all.css">
    
</head>
<body>
    <h1>Q3</h1>
    <h2>When you’re in a exam which you barely prepared for, which is your priority solution?</h2>
    <h3>Choose the answer appeared in your mind instantly</h3>
    <ul>
        <li><a href="../calculating.html">Take a nap right away</a></li>
        <li><a href="../calculating.html">Fill the answer randomly</a></li>
        <li><a href="../calculating.html">All fill the answer "C"</a></li>
    </ul>
</body>
</html>